<p>
Source code available at <a href="https://github.com/pscott-au/nodejs-xero-integration-demo">https://github.com/pscott-au/nodejs-xero-integration-demo</a>
<br/>
Perl Mojo App Available at <a href="https://xero.computerpros.net.au/app/main">https://xero.computerpros.net.au/app/main</a>
</p>

<p>Howdy! Here's a list of awesome computer scientists. Do you know any others? Add to the list yourself.</p>

<form (submit)="addName()">
  <input [(ngModel)]="newName" name="newName" placeholder="Awesome Computer Scientist">
  <button type="submit">Add</button>
</form>

<ul>
  <li *ngFor="let name of names">{{name}}</li>
</ul>
