<p>Based on Angular Seed - a starter project that implements best practices in coding, building and testing Angular apps.</p>

<h2 i18n>Sprint 1</h2>
<!--
<ul>
  <li>Ready to go, statically typed build system using Gulp for working with TypeScript.</li>
  <li>Production and development builds.</li>
  <li>Sample unit tests with Jasmine and Karma including code coverage via Istanbul.</li>
  <li>End-to-end tests with Protractor.</li>
  <li>Development server with live reload.</li>
  <li>TypeScript definition management using Types.</li>
  <li>Basic Service Worker, which implements "Cache then network strategy".</li>
</ul>
-->
<ul>
    <li>Focus on Devops continuous integration toolset</li>
    <li>A chance to review some of the latest version and best practices</li>
    <li>Setup Jira and build workflow</li>
    <li>Setup Infrastructure to use for end-to-end continued learning</li>
</ul>
